Repository ITensor/ITensors.jl, pull requests merged in 2024-05, with the labels that each got.

#1395 [NDTensors] cuTENSOR extension
  NDTensors/Project.toml
  NDTensors/ext/NDTensorscuTENSORExt/NDTensorscuTENSORExt.jl
  NDTensors/ext/NDTensorscuTENSORExt/contract.jl
  NDTensors/src/blocksparse/contract_generic.jl
  NDTensors/src/blocksparse/contract_sequential.jl
  NDTensors/src/blocksparse/contract_threads.jl
  NDTensors/src/diag/tensoralgebra/contract.jl
  NDTensors/src/lib/TensorAlgebra/test/Project.toml
  NDTensors/src/lib/TensorAlgebra/test/test_basics.jl
  NDTensors/src/tensoroperations/generic_tensor_operations.jl
  NDTensors/test/ITensors/TestITensorDMRG/TestITensorDMRG.jl
  NDTensors/test/NDTensorsTestUtils/device_list.jl
  NDTensors/test/Project.toml
  docs/src/RunningOnGPUs.md
  jenkins/Jenkinsfile
Labels: NDTensors

#1432 [ITensors] Don't export ITensorMPS
  Project.toml
  src/ITensors.jl
  src/deprecated.jl
  src/exports.jl
  src/lib/ITensorMPS/src/deprecated.jl
  src/lib/ITensorMPS/src/exports.jl
  src/lib/ITensorMPS/src/mpo.jl
  src/lib/ITensorMPS/test/base/Project.toml
  src/usings.jl
  test/base/utils/TestITensorsExportedNames/TestITensorsExportedNames.jl
Labels: ITensors, ITensorMPS

#1437 [Docs] Add missing dependencies such as ITensorMPS
  docs/Project.toml
Labels: documentation, ITensors

#1435 [Docs] Add random number generator in docstring for randomITensor
  src/itensor.jl
Labels: documentation, ITensors

#1434 [SparseArraysDOKs] Add setindex_maybe_grow! and macro @maybe_grow
  NDTensors/Project.toml
  NDTensors/src/lib/SparseArrayDOKs/src/sparsearraydok.jl
  NDTensors/src/lib/SparseArrayDOKs/test/runtests.jl
Labels: NDTensors, SparseArrayDOKs

#1459 [TensorAlgebra] Mat-vecs in contract, change handling of empty blockedperm blocks
  NDTensors/Project.toml
  NDTensors/src/lib/TensorAlgebra/src/blockedpermutation.jl
  NDTensors/src/lib/TensorAlgebra/src/contract/allocate_output.jl
  NDTensors/src/lib/TensorAlgebra/src/contract/blockedperms.jl
  NDTensors/src/lib/TensorAlgebra/src/contract/contract_matricize/contract.jl
  NDTensors/src/lib/TensorAlgebra/test/test_basics.jl
Labels: NDTensors, TensorAlgebra

#1453 [NDTensors] Fix contracting dense with diag on GPU
  NDTensors/Project.toml
  NDTensors/ext/NDTensorsAMDGPUExt/append.jl
  NDTensors/ext/NDTensorsAMDGPUExt/indexing.jl
  NDTensors/ext/NDTensorsCUDAExt/append.jl
  NDTensors/ext/NDTensorsGPUArraysCoreExt/NDTensorsGPUArraysCoreExt.jl
  NDTensors/ext/NDTensorsGPUArraysCoreExt/contract.jl
  NDTensors/ext/NDTensorsMetalExt/permutedims.jl
  NDTensors/src/blocksparse/diagblocksparse.jl
  NDTensors/src/imports.jl
  NDTensors/src/lib/GPUArraysCoreExtensions/src/gpuarrayscore.jl
  NDTensors/test/test_diag.jl
  NDTensors/test/test_diagblocksparse.jl
Labels: NDTensors, GPU
